.fila1{
    background-color: #192c5c !important;
    color: white;
}

.fila2 {
    background-color: #273d75 !important;
    color: white;
}

#fila-par {
    background-color: #273d75 !important;
    color: white;
}
